@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span, button {
  padding: 10px;
}